@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal CSS */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F8FF;
}
/* Reusable component variable declared */

:root{
    --purple: #4E47FF;
    --color2: #252432;
    --white: #FFFFFF;
    --inter: "Inter", sans-serif;
    --raleway: "Raleway", sans-serif;
}

/* Shared Styles */

.btn{
    font-family: var(--raleway);
    padding: 18px 36px;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: .4s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    font-size: 1.05em;
    background-image: linear-gradient(to bottom right, var(--purple), rgb(111, 200, 230));
}
.block{
    display: block;
}
.center{
    margin: 0 auto;
}
.width-full{
    width: 100%;
}
/* ===================================================================================== */

/* Nav Styles */

.header{
    background-image: url(../images/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav h3{
    font-family: var(--inter);
    font-weight: 900;
    font-size: 34px;
    padding: 50px 0;
    color: var(--purple);
}
main{
    width: 85%;
    margin: 0 auto;
}

/* ===================================================================================== */

/* Banner styles */

.banner{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container{
    margin: 150px 100px;
}
.banner-heading{
    margin-bottom: 50px;
}
.banner-heading h1{
    font-family: var(--raleway);
    color: var(--color2);
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

/* ===================================================================================== */

/* Action Area Styles */

.actionArea{
    margin-bottom: 150px;
}
.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.action-content h4{
    font-family: var(--raleway);
    font-size: 42px;
    font-weight: bold;
    color: var(--color2);
}
.action-content p{
    font-family: var(--raleway);
    font-size: 24px;
    line-height: 30px;
    color: #252432;
    opacity: 50%;
    margin: 23px 0;
}
.action-image img{
    width: 100%;
    border-radius: 48px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* ===================================================================================== */

/* Productive Area styles */

.productiveArea{
    background-color: rgba(78, 71, 255,0.1);
    text-align: center;
    padding: 50px 100px;
    border-radius: 24px;
    margin-bottom: 150px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.productive-container .productive-heading{
    font-family: var(--raleway);
    color: var(--color2);
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.productive-content{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productive-InnerContent{
    font-family: var(--inter);
}
.productive-InnerContent h1{
    font-weight: bold;
    font-size: 80px;
    color: var(--purple);
}
.productive-InnerContent p{
    font-size: 20px;
    color: #000000;
    opacity: 50%;
}

/* ===================================================================================== */

/* Users feedback section styles */


.userFeedbackArea{
    margin-bottom: 150px;
}
.feedback-heading{
    font-family: var(--raleway);
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.feedback-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.feedback-content{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: .4s;
    cursor: pointer;
}
.feedback-content:hover{
    transform: scale(1.05);
}
.starIconPart i{
    color: gold;
}
.feedback-content h6{
    margin-top: 32px;
    font-size: 24px;
    font-family: var(--inter);
    margin: 16px 0 10px;
}
.feedback-content p{
    font-size: 16px;
    font-family: var(--raleway);
    font-weight: 500;
    margin-bottom: 10px;
}
.feedback-profile-container{
    display: flex;
    align-items: center;
    gap: 16px;
}
.profile-content h6{
    font-size: 16px;
    color: #757575;
}
.profile-content p{
    font-size: 14px;
    color: #757575b7;
    font-weight: 500;
}
.profile-image img{
    border-radius: 50%;
}

/* ===================================================================================== */

/* Get in touch section styles */

.GetInTouchArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    padding: 70px 0;
}
.contact-heading h1{
    font-family: var(--raleway);
    font-weight: bold;
    font-size: 97px;
}
input[type="email"], input[type="text"]{
    font-family: var(--inter);
    font-size: 20px;
    width: 433px;
    height: 30px;
    padding: 20px 32px;
    border-radius: 20px;
    border: none;
    background-color: #FFFFFF;
    border: 0.5px solid #D6DDED;
    margin: 10px 0 14px;
}
textarea{
    font-family: var(--inter);
    font-size: 20px; 
   width: 433px;
   padding: 20px 32px;
   border-radius: 20px;
   border: none;
   background-color: #FFFFFF;
   border: 0.5px solid #D6DDED;
   margin: 10px 0 20px;
   resize: none;
}
label{
    font-family: var(--inter);
    font-weight: 500;
    font-size: 18px;
}

/* ===================================================================================== */

/* Footer section area end */
.footer-secion{
    background-color: #FFFFFF;
    font-family: var(--inter);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 250px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.footer-container{
    width: 85%;
    margin: 0 auto;
}
.footer-container h1{
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    color: var(--purple);
}
.footer-container p{
    font-size: 18px;
    color: #8987A1;
    text-align: center;
    line-height: 24px;
    margin: 20px 0;
}
.footer-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 24px;
}
.footer-container ul li{
    list-style: none;   
}
.footer-container li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 20px;
    transition: .4s;
}
.footer-container li a:hover{
    color: var(--purple);
}

